<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">類別</a>
          <div class="dropdown-menu" style="">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col">
      總金額:
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">類別</th>
            <th scope="col">名稱</th>
            <th scope="col">金額</th>
            <th scope="col" class="th_blank"></th>
            <th scope="col" class="th_blank"></th>
          </tr>
        </thead>
        <tbody>
          {{#each records}}
          <tr class="table-danger">
            <th scope="row">{{this.category}}</th>
            <td>{{this.name}}</td>
            <td>{{this.amount}}</td>
            <td><a href="#" class="btn btn-outline-info edit">修改</a></td>
            <td>
              <button type="submit" class="btn btn-outline-danger btn-front">刪除</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col" id="pagination">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</div>